@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.will-text-shadow {
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: #FFF;
		color: transparent;
	}

	.will-text-shadow-none {
		-webkit-text-stroke-width: 0px;
		color: #FFF;
	}

	.lc-first-elipse {
		width: 800px;
		height: 800px;
		transform: rotate(4.83deg);


		position: absolute;

		/* left: -670px;
		top: -250px; */
		left: -237px;
		top: -270px;

		border-radius: 800px;

		background: conic-gradient(from 180deg at 50% 50%, #01F1A7 0deg, #151442 180deg, #102487 360deg);
		filter: blur(150px);

		z-index: 12;
	}

	.lc-second-elipse {
		width: 657px;
		height: 657px;
		transform: rotate(49.328deg);
		flex-shrink: 0;

		position: absolute;

		top: 207px;
		left: 1454.96px;

		border-radius: 657px;

		background: conic-gradient(from 180deg at 50% 50%, #01F1A7 0deg, #151442 180deg, #102487 360deg);
		filter: blur(150px);

		z-index: 12;
	}
}

.text-shadow{
	@apply will-text-shadow;
}
.text-shadow-none{
	@apply will-text-shadow-none;
}

.first-elipse {
	@apply lc-first-elipse;
}

.second-elipse {
	@apply lc-second-elipse;
}
